/****** Object:  Database [Medicine]    Script Date: 10/25/2020 17:16:28 ******/
CREATE DATABASE [Medicine] ON  PRIMARY 
( NAME = N'Medicine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Medicine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medicine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Medicine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medicine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User [TECHFIXER]    Script Date: 10/25/2020 17:16:28 ******/
CREATE USER [TECHFIXER] FOR LOGIN [TECHFIXER] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 10/25/2020 17:16:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1600) NOT NULL,
	[Price] [int] NOT NULL,
	[Manufecturer] [nvarchar](1600) NOT NULL,
	[Desease] [nvarchar](1600) NOT NULL,
	[Type] [nvarchar](1600) NOT NULL,
	[Generation] [nvarchar](60) NOT NULL,
	[Reaction] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
